*{
    box-sizing: border-box;
}
header {
    background-color: #fff;
    padding:10px;
    color:red;
    text-align:center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;   
}
body {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}
img{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 5px
}
.img-container{
    margin: 5px;
    flex-basis: 290px;
    flex-grow: 1;
}