*{
    box-sizing: border-box;
}

header {
    background-color:azure;
    padding:20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    color:red;
}
body{
    margin:auto;
    font-family: 'Times New Roman', Times, serif;
    background-color:azure
}
/*flex-grow:1 - tu dong lay phan trong cua container de bu dap vao
            2 lay phan du gap doi*/
.img_container {
    margin: 5px;
    flex-basis: 290px;
    flex-grow: 1; 
}
img{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 5px
}
.img_icons{
    width: 9%;
    height: 10%px;
    border-radius: 10px
}